<footer>
  <div id="copyright">
    &copy; Rahul. <span>All Rights Reserved &emsp;<small>2022</small></span>
  </div>

  <div class="links">
    <ul>
      <a href="/">Home</a>
      <a href="/users/profile">Profile</a>
    </ul>
  </div>
</footer>
