footer {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #166FE5;
  bottom: 0; }
  footer #copyright {
    color: #fff;
    font-size: 1.3rem; }
  footer .links a {
    display: inline-block;
    margin: 0px 1.5rem;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    font-size: 1.5rem; }
